{% extends "AuthBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="login">
                    {% if app.user %}{# Si l'utilisateur est connecté j'affiche son nom  #}
                        <p>
                            Vous êtes connecté en tantque : <b>{{ app.user.username }}</b>
                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-link">Déconnexion</a>
                        </p>
                    {% else %}{# Sinon j'affiche le bouton se connecter #}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                            Se connecter/S'inscrire
                        </button>
                    {% endif %}
                </div>
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Se connecter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="modal-body">
                                    <div class="alert alert-login">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <div class="form-group">
                                                <label for="username">Nom d'utilisateur</label>
                                                <input type="text" id="username" name="_username" value=""
                                                       placeholder="Nom d'utilisateur" class="form-control" required="required"/>
                                            </div>

                                        </div>
                                        <div class="col-md-6 offset-md-3">
                                            <div class="form-group">
                                                <label for="password">Mot de passe</label>
                                                <input type="password" id="password" name="_password"
                                                       placeholder="Mot de passe" class="form-control" required="required"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6 offset-md-3">
                                            <div class="form-group">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                <label for="remember_me">Garder ma session</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                                        <span>Se connecter</span> <i class="fa fa-spinner fa-spin fa-login"></i>
                                    </button>
                                </div>
                            </form>
                            <div class="has-no-account">
                                <p>Vous n'avez pas un compte ?</p>
                                <hr>
                                <h5 class="modal-title" id="exampleModalLabel">S'inscrire</h5>
                                <hr>
                            </div>
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'id':'register-form','class': 'fos_user_registration_register'}}) }}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-register">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.name) }}
                                            {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="data.name"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.firstname) }}
                                            {{ form_widget(form.firstname,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="data.firstname"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.username) }}
                                            {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="data.username"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.email) }}
                                            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="data.email"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.first) }}
                                            {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="data.plainPassword"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.plainPassword.second) }}
                                            {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="children[plainPassword]"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.phone) }}
                                            {{ form_widget(form.ficheClient.phone,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="phone"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.address) }}
                                            {{ form_widget(form.ficheClient.address,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="address"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.address2) }}
                                            {{ form_widget(form.ficheClient.address2,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="address2"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.zip) }}
                                            {{ form_widget(form.ficheClient.zip,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="zip"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.city) }}
                                            {{ form_widget(form.ficheClient.city,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="city"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_label(form.ficheClient.country) }}
                                            {{ form_widget(form.ficheClient.country,{'attr':{'class':'form-control'}}) }}
                                            <span class="text-danger" id="country"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="_submit_register" class="btn btn-primary">
                                    <span>S'inscrire</span> <i class="fa fa-spinner fa-spin fa-register"></i>
                                </button>
                            </div>
                            <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token('registration') }}" />
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}